<!DOCTYPE html>
<html ng-app="fileApp">
  <head>
    <title>File Size Info!</title>
    <meta name="description" content="File metadata parser">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
    </header>

    <h1>
      File Metadata Parser
    </h1>
    <h3>
      Submit a file, and you will receive the files size in bytes. 
    </h3>
<!--     <input type="file" name="sampleFile" /> -->
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="fileUpload">
      <input type="submit">
    </form>
  
  </body>
</html>
